<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animales</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/estilosForm.css}">
</head>
<body>
<div class="registration-form">
    <form action="/animales/guardar" method="post">
        <div class="form-icon">
            <span><i class="icon icon-ghost"></i></span>
        </div>
        <div th:if="${animal.getNombre() == null}">Nuevo animal</div>
        <div th:unless="${animal.getNombre() == null}">Editar animal</div>
        <input type="hidden" name="idanimal" th:value="${animal.getIdanimal()}">
        <br />
        <div class="form-group">
            <input type="text" class="form-control item" name="nombre" placeholder="Nombre" th:value="${animal.getNombre()}">
        </div>
        <div class="form-group">
            <input type="number" class="form-control item" name="edad" placeholder="Edad" th:value="${animal.getEdad()}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" name="color" placeholder="Color" th:value="${animal.getColor()}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Guardar</button>
        </div>
        <div class="form-group">
            <button type="button" onclick="history.back()" class="btn btn-block create-account boton-blanco">Cancelar</button>
        </div>
    </form>
</div>
</body>
</html>